* {
    list-style: none;
}

.placeholder {
    outline: 1px dashed #4183C4;
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}

.sortable li div {
    cursor: move;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    margin: 0;
    padding: 3px;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li > div > .disclose {
    display: inline-block;
}

.sortable span.ui-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu-div {
    background: #EBEBEB;
    border: 1px solid;
    position: relative;
}

.disclose {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 30px;
}

.item-title {
    position: absolute;
    top: 5px;
}

ol.sortable input {
    border: none;
    background: none;
}

.delete-menu {
    float: right;
    cursor: pointer;
    transform: scale(-0.4);
    width: 24px;
    height: 24px;
    background: url('../css/img/css_sprites.png') -5px -5px;
}

.mjs-nestedSortable-branch.mjs-nestedSortable-collapsed div > span.disclose {
    transform: scale(-0.4);
    width: 24px;
    height: 24px;
    background: url('../css/img/css_sprites.png') -39px -5px;
}

.mjs-nestedSortable-branch.mjs-nestedSortable-expanded > div > span.disclose {
    transform: scale(-0.4);
    width: 24px;
    height: 24px;
    background: url('../css/img/css_sprites.png') -5px -39px;
}