/*https://www.toptal.com/developers/css/sprite-generator/*/
.minus{
    width: 24px; height: 24px;
    background: url('css_sprites.png') -5px -39px;
}
.x{
    width: 24px; height: 24px;
    background: url('css_sprites.png') -5px -5px;
}
.plus{
    width: 24px; height: 24px;
    background: url('css_sprites.png') -39px -5px;
}
.reload{
    width: 24px; height: 24px;
    background: url('css_sprites.png') -39px -39px;
}